name: App

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 20]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}

      - name: npm install, build, and test
        run: |
          npm ci --ignore-scripts
          npm test
          npm run cov:check
        env:
          CI: true

      - if: matrix.node-version == '18'
        continue-on-error: true
        name: Coveralls GitHub Action
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949 #v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: './coverage/lcov.info'