name: release-please

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GH_REPO_ACCESS_PUBLIC_REPOS }}
          release-type: node
          package-name: dc-delivery-sdk-js
          bump-minor-pre-major: true

      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/setup-node@v3
        if: ${{ steps.release.outputs.release_created }}
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
        if: ${{ steps.release.outputs.release_created }}

      - run: |
          npm run doc:html
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/amplience/dc-delivery-sdk-js.git
          npx gh-pages --silent --message "[ci skip] Updates" --dist build/docs --user "Github Actions <github-actions@amplience.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}

      - run: npm publish
        if: ${{ steps.release.outputs.release_created }}
